* {
    display: block;
    display: flex;
    flex-direction: column;
}

#question-text {
    padding: 40px;
}

button {
    border: 15px;
    margin: 10px;
    border-radius: 15px;
    line-height: 15px;
    padding: 20px;
    font-size: large;
    cursor: pointer;
}

/* Hide the question section until game is started */
.hide {
    display: none;
}